<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.CategoryMapper">

    <select id="findCommodities" resultType="com.swpu.entity.Category">
        SELECT id,name,type,create_time,description,category,price,pic_path,user_id,count,update_time
        FROM commodity WHERE id IN
        (SELECT pro_id FROM pro_category WHERE cat_id=#{catId})
    </select>
    <select id="findCategoryByCommodityId" resultType="com.swpu.entity.Category">
        SELECT id,`name`,create_time,update_time,status
        FROM category WHERE id IN
                            (SELECT cat_id FROM pro_category WHERE pro_id=#{id})
    </select>
</mapper>
