<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.ProductRemarkMapper">
    <update id="delRemark">
        update product_remark set is_delete=1 where id = #{id}
    </update>
    <select id="findChildrenProRemark" resultType="com.swpu.entity.ProductRemark">
        SELECT *
        FROM product_remark
        WHERE parent_id = #{id} and is_delete = 0
    </select>
</mapper>
